<%= render "shared_view/user", user: @user %>

<div class="bio">
  <h2>Bio</h2>
  <%= @user.bio %>
</div>

<div class="posts">
  <h2>Posts</h2>
  <ul>
    <% @user.user_recent_posts.each_with_index do |post, index| %>
      <li>
       <h3>Post:</h3>"#" <%=  index + 1 %>
        <div>
          <%= post.text %>
        </div>
        <div>
          <h4>Comments: x</h4>
        </div>
      </li>
    <% end %>
  </ul>
  <button>
    <%= link_to "See all post", user_posts_path(@user) %>
  </button>
</div>